{:dresser/release 1, :dresser/fingerprint "03cc25f420a0ef5b961d909205af6c0f2990819f0d858c6797a58ce1390ae498", :aspects {"spool-repo/agent-docs" {:version 1, :release 1, :applied-at "2026-07-14"}, "spool-repo/repo-skeleton" {:version 1, :release 1, :applied-at "2026-07-14"}, "spool-repo/quality" {:version 1, :release 1, :applied-at "2026-07-14"}, "spool-repo/skein-workspace" {:version 1, :release 1, :applied-at "2026-07-14"}}}
